body {
    background-color: rgb(186, 203, 153);
}

.section {
    margin: 30px;
}

.section h4 {
    margin: 15px;
}

.highlight {
    background-color: #f39c12;
}

.section p {
    margin: 0 auto;
    width: fit-content;
}